<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/nav") %>
    <div class="detalleProducto">
        <div class="imagenProducto">
            <img src="/<%=producto.imagen %>" alt="">
        </div>

        <div class="detalle">
            <h2><%= producto.nombre %></h2>
            <div class="descripcion">
                <h2>DESCRIPCIÓN</h2>
                <p><%= producto.descripcion %></p>
            </div>
        
            <label for="">Precio USD <%=producto.precio %> </label>
            
            <div class="talles">
                <label for="talles">Talles  </label>
            </div>
            <div>
                <select name="talles" id="talles" class="talles">
                    <option value>Elegí una opción...</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="49">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
            </div>
            <nav>
                <a href="/carrito"><button type="submit" class="botonCompra">AGREGAR AL CARRITO <i class="fas fa-shopping-cart"></i></button></a>
            </nav>
            <a class="editar" href="/productos/editar/<%= producto.id %>"><i class="far fa-edit"></i> Editar </a>

            <form action="/productos/borrar?m=DELETE" method="post">
                <input type="hidden" name="id" value="<%= producto.id %>">
                <button class="borrar" type="submit"><i class="fas fa-trash-alt"> Borrar</i></button>
            </form>  
        </div>

    </div>
    <%- include("../partials/footer") %>
</body>
