<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    <%- include("../partials/nav")  %>
    <h1>Listado de Productos</h1>

    <% if (productos.length>0) { %>
    <div class="productos-listado">
    <% productos.forEach(producto => { %>

        <article class="item_producto">
            <a href="/productos/<%= producto.id %>"><img src="/<%= producto.imagen %>" width="300" alt=""></a>
            <div class="articulo">
                <i class="fas fa-plane"></i>
                <p class="precio-item">$<%= producto.precio%></p>
                <h4 class="descripcion"><%= producto.marca%></h4>
            </div>
        </article>

    <% }) %>
    </div>
    <% } else { %>
        <h2>No se encontro ningun producto</h2>
     <% } %>      
     <%- include("../partials/footer") %> 
</body>
</html>