<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>
<main class="edit-product">
    <div class="center">
    <h1>Editar un producto</h1>

    <% if (locals.errors) { %>
        <div class="alert" >
            <% errors.forEach( error => { %> 
                <p><%= error.msg %></p>
            <% } ) %>
        </div>
    <% } %>

    <form action="/productos/update?m=PUT" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="id"  value="<%= locals.old && old.id ? old.id : producto.id %>">
        <fieldset>
            <label for="marca">Marca</label>
            <select name="marca" id="marca">
                <option value="<%= producto.marca %>" selected><%= locals.old && old.marca ? old.marca :  producto.marca %></option>
                <option value="Louis Vuitton">Louis Vuitton</option>
                <option value="Adidas">Adidas</option>
                <option value="Nike">Nike</option>
                <option value="Acme">Acme</option>
                <option value="Patoruzito">Patoruzito</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="nombre">Nombre/Modelo</label>
                <input type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : producto.nombre %>">
        </fieldset>
        <fieldset>
            <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="" cols="30" rows="10" id="descripcion"><%= locals.old && old.descripcion ? old.descripcion : producto.descripcion %></textarea>
        </fieldset>

        <fieldset>
            <label for="">Talles disponibles</label>
                <input type="checkbox" id="s" name="talle" value="38">
                <label for="s">S</label>
                <input type="checkbox" id="m" name="talle" value="39">
                <label for="m">M</label>
                <input type="checkbox" id="l" name="talle" value="40">
                <label for="l">L</label>
                <input type="checkbox" id="xl" name="talle" value="41">
                <label for="xl">XL</label>
                <input type="checkbox" id="xxl" name="talle" value="42">
                <label for="xxl">XXL</label>
        </fieldset>
        <fieldset>
            <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" value="<%= locals.old && old.precio ? old.precio : producto.precio %>">
        </fieldset>
        <fieldset><label for="stock">Stock</label>
            <input type="range" name="stock" id="stock" min="1" max="20" step="1" value="<%= locals.old && old.stock ? old.stock : producto.stock %>"
                oninput="document.getElementById('tStock').innerHTML = this.value" />
            <label id="tStock"><%= producto.stock %></label>
        </fieldset>
        <fieldset><label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" value="<%= producto.image %>" >
        </fieldset>
        <fieldset>
            <button class="btn-submit" type="submit">Actualizar producto</button>
        </fieldset>
    </form>
    </div>
</main>

    <%- include("../partials/footer") %>

</body>
</html>