<!DOCTYPE html>
<html lang="en">
    
  <%- include("../partials/head") %>

<body>
  <div>
  <%- include("../partials/nav") %>
</div>
  <main class="login" >
    <section id="login">   
    <div class="center">
      <h1>Acceso</h1>
          <span>
            <% if (locals.errors && errors.email) { %>
              <div class="alert" ><%= errors.email.msg %> </div>
             <% } %>
             <% if (locals.errors && errors.registro) { %>
              <div class="alert" ><%= errors.registro.msg %> </div>
            <% } %>
            <% if (locals.error) { %>
              <div class="alert" >
                  <% error.forEach( err => { %> 
                      <p><%= err.msg %></p>
                  <% } ) %>
              </div>
          <% } %>
          </span>      
      <form action="/users/auth" id="login" method="post">
        <div class="texto">
          <input type="text" name="user" id="email" value="<%= locals.old && old.user ? old.user : ''%>" >
          <p id="errorMail" class="alert" ></p>
          <span></span>
          <label>Usuario</label>
        </div>
        <div class="texto">
          <input type="password" name="password" id="password"  value="<%= locals.old && old.password ? old.password : ''%>" >
          <label>Contraseña</label>
          <p id="errorPassword" class="alert" ></p>
        </div>
        <input type="checkbox" name="remember_user" id="remember_user"><label> Recordar</label>
        <input type="submit" value="Login" method="get">
        <div class="pas">Olvidé mi contraseña<a href="#"></a></div>
        <div class="link_registro"><a href="/registro">Registrate</a></div>
      </form>
    </div>
  </section>
  </main>
    
  <%- include("../partials/footer") %>
</body>  