<!DOCTYPE html>
<html lang="en">
    
  <%- include("../partials/head") %>

<body>
  <div>
  <%- include("../partials/nav") %>
</div>
  <main>
    <section id="profile">   

      <% if (locals.user) { %>
        <div class="card">
          <img class="profile_img" src="/profileImages/<%= user.image %>" alt="<%= user.first_name %>" style="width:100%">
          <h1><%= user.first_name %> <%= user.last_name %></h1>
          <p class="title"> <%= user.email %> </p>
          <p><%= user.category %></p>
          <form action="/users/borrardb?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= user.id %>">
            <button class="borrar" type="submit"><i class="fas fa-trash-alt"> Borrar</i></button>
          </form>
          <a class="editar" href="/users/edit/<%= user.id %>">
            <button class="borrar" type="button"><i class="fas fa-trash-alt">Editar</i></button>
          </a>
        </div>
      <% } %>

  </section>
  </main>
    
  <%- include("../partials/footer") %>
</body>  