<!DOCTYPE html>
<html lang="en">
    
  <%- include("../partials/head") %>

<body>
  <div>
  <%- include("../partials/nav") %>
</div>
  <main>
    <section id="profile">   

      <% if (locals.user) { %>
        <div class="card">
          <img class="profile_img" src="/<%= user.image %>" alt="<%= user.first_name %>" style="width:100%">
          <h1><%= user.first_name %> <%= user.last_name %></h1>
          <p class="title"> <%= user.email %> </p>
          <p><%= user.category %></p>
        </div>
      <% } %>

  </section>
  </main>
    
  <%- include("../partials/footer") %>
</body>  